main {
  color: white;
}

nav {
  background-color: antiquewhite;
  width: 100%;
  height: 100px;
  position: relative;
}

nav div {
  position: absolute;
  bottom: 10px;
}

nav a {
  margin-left: 20px;
  display: inline-block;
  color: black;
}

footer {
  width: 100%;

  height: 60px;

  background-color: aquamarine;

  position: relative;
}

a {
  text-decoration: none;
}

footer a {
  position: absolute;
  left: 30px;
  bottom: 10px;
  color: black;
}

body {
  background-color: black;
}
